# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/backend/.gitignore
/frontend/.gitignore
/frontend/src/App.css
/frontend/src/App.test.tsx
/frontend/src/App.tsx
/backend/src/main/resources/application.properties
/backend/src/main/java/de/neuefische/marzad/backend/BackendApplication.java
/backend/src/test/java/de/neuefische/marzad/backend/BackendApplicationTests.java
/frontend/public/favicon.ico
/frontend.iml
/frontend/src/index.css
/frontend/public/index.html
/frontend/src/index.tsx
/frontend/src/logo.svg
/frontend/public/logo192.png
/frontend/public/logo512.png
/frontend/public/manifest.json
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/.mvn/wrapper/maven-wrapper.properties
/backend/mvnw
/backend/mvnw.cmd
/frontend/package.json
/frontend/package-lock.json
/backend/pom.xml
/frontend/src/react-app-env.d.ts
/frontend/README.md
/frontend/src/reportWebVitals.ts
/frontend/public/robots.txt
/frontend/src/setupTests.ts
/frontend/tsconfig.json

/backend/.mvn/wrapper/maven-wrapper.jar
